 .panel { 
  flex: 1;
  border-right: 1px #959596 solid;
  height: 100%;
  padding: 100px 20px;
  overflow-y: auto;
  background-color: #f6989d;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .panel {
    min-height: 100vh;
    border-bottom: 1px #959596 solid;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .panel {
    border-bottom: 1px #959596 solid;
    height: 50%;
  }
}