.top-bar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #f6989d;
}

.nav-list {
  width: 100%;
  padding: 0 0 0 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin: 0.8em;
  padding: 0.2em;
  color: white;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item.selected {
  border-bottom: 2px solid yellow;
}

@media screen and (max-width: 767px) {
  .top-bar {
    display: block;
  }
}
