.episode-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 0.9em;
}

.episode-page > * {
  padding-bottom: 25px;
}

.episode-breadcrumb-link {
  text-align: left;
  text-decoration: none;
}

.episode-breadcrumb-link:visited {
  color: blue;
}

.episode-title {
  text-align: left;
  font-size: 1.5em;
}

.episode-image {
  align-self: center;
  width: 80%;
  max-width: 300px;
}

.play-episode-link {
  text-decoration: underline;
  color: blue;
}

.play-episode-link:hover {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.episode-description {
  text-align: left;
}