.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.show-name {
  margin-bottom: 30px;
  font-size: 1.25em;
  color: yellow;
  border-bottom: 2px solid yellow;
}

.show-image-container {
  margin-bottom: 20px;
  width: 60%;
}

.show-image {
  width: 100%;
}

.show-description {
  margin-bottom: 30px;
  text-align: center;
}

.show-keywords {
  margin-bottom: 30px;
  line-height: 1.8em;
}

.show-keyword {
  margin-top: 5px;
  margin-left: 8px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.episodes-label {
  margin-bottom: 15px;
}

.episode-list-link {
  color: white;
  text-decoration: none;
}

.episode-list-item {
  text-align: center;
  margin-bottom: 1.5em;
  line-height: 1.25em;
}

.episode-list-item > span:hover {
  color: white !important;
  border-bottom: 2px solid yellow;
}

.episode-list-link:visited {
  color: white;
}
