.show-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.show-name {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.show-image-container {
  margin-bottom: 20px;
  width: 80%;
}

.show-image {
  width: 100%;
}

.show-description {
  margin-bottom: 30px;
}

.show-keywords {
  margin-bottom: 30px;
  line-height: 1.8em;
}

.show-keyword {
  margin-top: 5px;
  margin-left: 8px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.episodes-label {
  margin-bottom: 15px;
}

.episode-list-link {
  text-decoration: none;
}

.episode-list-link:hover {
  color: black !important;
  text-decoration: underline;
}

.episode-list-link:visited {
  color: blue;
}

.episode-list-item {
  margin-bottom: 1.5em;
}