.language-toggle {
  margin: 0px 10px;
}

.language-toggle-slash {
  margin: 0px 5px;
}

.language-selected {
  text-decoration: underline;
  font-weight: 800;
}

@media screen and (max-width: 750px) {
  .language-toggle {
    font-size: 0.75em;
  }
}