.language-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 25px;
  padding-top: 5px;
  margin: 4px;
  color: black;
  width: 75px;
}

.language-toggle-slash {
  margin: 0px 5px;
}

.language-selected {
  text-decoration: underline;
  font-weight: 800;
}
