.show-list-link {
  color: white;
  text-decoration: none;
}

.show-list-link:hover {
  color: white !important;
  border-bottom: 2px solid yellow;
}

.selected {
  border-bottom: 2px solid yellow;
}

.show-list-link:visited {
  color: white;
}

.show-list-item {
  margin-bottom: 1.5em;
}

.browsing-keyword {
  margin-bottom: 15px;
}

.keyword-name {
  margin-left: 5px;
  font-weight: 800;
}