.audio-player {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 25px;
  margin: 4px;
  color: black;
  width: 70%;
  background-color: #f6989d;
}

.controls {
  display: flex;
  width: 80px;
}
