

/* This make more sense than trying to give NowPlaying It's folder. */
.audio-player {
  display: flex;
  width: 50%;
  background-color: #f6989d;

}


.controls {
  display: flex;
  width: 100px;
  flex-direction: row;
  margin:4px;
  cursor: pointer;
  margin-block-start: 5px;
  color: blue;  
  background-color: #f6989d;
}
