.footer {
  display: flex;
  align-items: center;
  border: 2px solid #959596;
  border-right: 0.1px rgb(218, 255, 243) solid;
  width: 100%;
  height: 40px;
  background-color: #f6989d;
}

@media screen and (max-width: 767px) {
  .footer {
    height: 40px;
    position: fixed;
    bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    height: 40px;
    bottom: 0px;
  }
}
