
.player {
  display: flex;
  width:300px;
  /* background-color: green */
}


.controls {
  display: flex;
  width: 100px;
  flex-direction: row;
  /* float: left; */
  margin:4px;
  cursor: pointer;
  margin-block-start: 5px;
  color: #959596;

  
}
.controls:hover {
  background-color: #f60000;
  color: #000000;
}
.audio{
  background-color: red
}