.app {
  height: 100vh;
  display: flex;
  flex-direction: column
}

.panel-container {
  display: flex;
  flex-grow: 1;
  color: #0000ff
  
}

.footer {
  display: flex;
  border-right: 0.1px rgb(218, 255, 243) solid;
  
  

}