.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.panel-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .app {
    height: 100%;
    width: 100%;
  }

  .panel-container {
    flex-direction: column;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .panel-container {
    flex-wrap: wrap;
  }

  .panel-container > div {
    flex-basis: calc(50% - 40px);
  }

  .panel-container > div > div {
    text-align: center;
  }
}